{% extends 'base.html.twig' %}

{% block title %}FORMATION{% endblock %}

{% block body %}



<div>
    <h1>Les formations</h1>


    <ul>    
        {% for formation in listeFormation %}
            <li>
            <a href="{{path("formation", {id : formation.id}) }}"> {{ formation.nom}}</a>
            </li>
    {% for mod in formation.modules %}
        <p>{{mod.matiere.nom}} : {{mod.programme}}</p>
    {% endfor %}

        {% endfor %}    
    </ul>




{% endblock %}
