{% extends 'base.html.twig' %}

{% block title %}PROGRAMME{% endblock %}

{% block body %}

<div>
    <h1>le programme de la matiere {{ module.matiere.nom }} est : </h1>

{{ module.programme }}


</div>

{% endblock %}
