{% extends 'base.html.twig' %}

{% block title %}FoXmation{% endblock %}

{% block body %}

<div class="">
    <h1>Acceuil</h1>

    <a href="{{path("formateurListe") }}"> Liste des formateurs</a><br>
    <a href="{{path("tuteurListe") }}"> Liste des tuteurs</a><br>
    <a href="{{path("apprenantListe") }}"> Liste des apprenants</a><br>
    <a href="{{path("listeFormation") }}"> Liste des formations</a><br>

{% endblock %}
