{% extends 'base.html.twig' %}

{% block title %}FoXmation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em ; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .admin {padding: .5em; border-style:solid ; border-radius :10px ; text-decoration : none;}
</style>


<div class="example-wrapper">
    <h1>Acceuil</h1>

{% endblock %}
