{% extends 'base.html.twig' %}

{% block title %}APPRENANT{% endblock %}

{% block body %}



<div>
    <h1>information pour l'apprenant {{ apprenant.nom }}</h1>

            <h2> Liste de vos matières</h2>

            {# <ul>
                {% for appr in apprenant.apprentis %}
                    <li>{{ appr.nom }} </li>
                {% endfor %}
            </ul> #}




{% endblock %}
