{% extends 'base.html.twig' %}

{% block title %}APPRENANT{% endblock %}

{% block body %}

<div>
    <h1>Liste des apprenant</h1>

    <ul>
        {% for apprenant in apprenantListe %}
            {% if apprenant.roles[0] == 'apprenant' %}
            <li>
                <a href="{{path("apprenant", {id : apprenant.id}) }}"> {{ apprenant.nom }} {{ apprenant.prenom }}</a>
                {# : {{ apprenant.roles[0]}} #}
            </li> 
            {% endif %}
        {% endfor %}    
    </ul>


</div>
{% endblock %}
