<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="\assets\img\logoA.png">
        <link rel="stylesheet" href="/assets/styles/app.css"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
    {# <div class="btn-deconnexion">
    <button onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
    </div> #}


    {# affichage des message flash #}
        {% for label, messages in app.flashes %}
        <div>
            {% for message in messages %}
            <h2 class="alert">{{ message }}</h2>
            {% endfor %}
        </div>
        {% endfor %}

        {% block body %}{% endblock %}
    
    </body>
</html>
