{% extends 'base.html.twig' %}

{% block title %}MODIFIER NOTES{% endblock %}

{% block body %}


    <h1>Modifier les notes :</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for appr in module.formation.apprenants %}
                <tr>
                    <td>{{ appr.nom }}
                    </td>

                    <td>{{ appr.prenom }}
                    </td>

                    <td>
                        {% for note in module.matiere.avoirNotes %}
                        {% if note.apprenants == appr %}
                            {{ note.note }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}

        </tbody>
    </table>




{% endblock %}