{% extends 'base.html.twig' %}

{% block title %}Modifier les notes{% endblock %}

{% block body %}


    <h1>Modifier les notes :</h1>

    {{ form(form) }}

{# {{ form_label(form.programme) }}<br>
{{ form_widget(form.programme) }}

{{ form_row(form.Envoyer) }} #}


{% endblock %}