{% extends 'base.html.twig' %}

{% block title %}FORMATEUR-PROG{% endblock %}

{% block body %}

<div>
    <h1>le programme de {{ module.matiere.nom }} pour la formation {{ module.formation.nom }} est : </h1>

{{ module.programme }}

</div>
<br><br>
<div>
    <a href="{{path("editProgramme", {id : module.id}) }}">Modifier le programme</a>
</div>

{% endblock %}
